#header
  h1.page-title Bof Schedule
  h2.time-slot Tuesday 10:45am - 11:45am
  h3#logo DrupalCon Denver
    small March 19-23, 2012
#main
  ul
    li.grid-item
      .room Room
        span.room-number 203
      h3.session-title This is the name of a super sweet bof
      ul.tracks
        li.track.track-coding-development Coding &amp; Development
        li.track.track-design-user-experience Design &amp; User Experience
    li.grid-item
      .room Room
        span.room-number 212
      h3.available-room Available
    li.grid-item
      .room Room
        span.room-number 212
      h3.session-title This is the name of another super sweet bof
      ul.tracks
        li.track.track-design-user-experience Design &amp; User Experience
